@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h3 class="display-4">Hi Etain!</h3>
        <strong>This answer features :</strong> 
        <ul class="list-group">
            <li class="list-group-item">.Net Core 3.1</li>
            <li class="list-group-item">Azure hosted</li>
            <li class="list-group-item">Async all the way through</li>
            <li class="list-group-item">Immutable data structures and properties throughout</li>
            <li class="list-group-item">Transient fault resistance on third party api calls</li>
            <li class="list-group-item">Clean architecture design</li>
            <li class="list-group-item">Serilog async logging</li>
            <li class="list-group-item">Bootstrap responsive design and styling</li>
            <li class="list-group-item">Custom Authentication</li>
            <li class="list-group-item">React Weather Component (My first - go easy &#128512;)</li>
        </ul>
        <br/>
        <p class="text-left">The combination of every operation being async and all properties and collections being immutable allows for a highly threaded and scaleable solution with less complexity when dealing with advanced threading scenarios.  
        As concerns about overwriting values, collections changing and race conditions are greatly reduced if things cannot change.</p>
    </div>
